@import "open-props/style";

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
    font-family: var(--font-sans);
    font-size: clamp(14px, 2vw, 18px);
    min-height: 100vh;
}

#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--size-3);
  height: 100vh;
}


.container {
 width: min(100%, 60rem);
 margin-inline: auto;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover:not(.logo) {
  text-decoration: underline;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-3);
}

.site-footer {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-3);
}