@import "open-props/style";

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
    font-family: var(--font-sans);
    font-size: var(--size-fluid-2);
    min-height: 100vh;
}

#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--size-3);
  height: 100vh;
}


.container {
 width: min(100%, 60rem);
 margin-inline: auto;
}